
<div class="jumbotron mt-5">
  <h1 class="display-4">Welcom to TvojPosao</h1>
  <p class="lead">Browse through jobs with ease...</p>
  <hr class="my-4">
  <p>Simple but effective way to learn something</p>
  <p class="lead">
  <%= link_to 'Start browsing', jobs_path, class: "btn btn-success btn-lg"%>
  </p>
</div>